*{box-sizing:border-box;}
*{list-style: none;}

.container {
  width:100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 45px;
  width: 80%;
  margin-left: 10%;
  background-color: rgba(34, 49, 52, 0.9);
}
.header-left p {
  color:white;
  padding:10px 0px;
  margin:0px;
}

.top-wrapper{
  width:80%;
  margin-left: 10%;
  height:400px;
  padding-right:0px;
  padding-left:0px;
  background-image:url(S__6103072.jpg);
  background-size:cover;
  background-color: rgba(255,250,250);
  text-align:center;
}
.top-wrapper h1{
  margin: 0px;
  padding-top: 250px;
  opacity: 0.8;
  color:black;
  font-size: 25px;
}
.top-wrapper h2{
  font-size:15px;
  color:black;
  opacity: 0.8
}
.top-wrapper p{
  text-align: center;
  font-size:15px;
}

.btnToLink-wrapper{
  height: 50px;
  background-color: rgba(255, 0, 100,0.6);
  padding-left:10%;
  padding-right:10%;
  text-align: center;
}
.btnToLink a{
  display: inline-block;
  width:25%;
  text-size:20px;
  line-height: 50px;
  opacity: 1;
}

.interest-wrapper{
  height:600px;
  text-align: center;
  padding-top: 280px;
  font-weight: normal;
}
.interest-text p{
  font-size: 15px;
}

.fourType-wrapper{
  width:80%;
  height:250px;
  margin-left: 10%;
}
.fourType-text h2{
  font-size:20px;
  padding-bottom: 10px;
}
.fourType-text p{
  font-size:13px;
  line-height: 30px;
}

.fourTypeDescription-wrapper{
  width:80%;
  height:170px;
  margin-left: 10%;
}

.fourTypeExample-wrapper{
  width:80%;
  margin-left: 10%;
  height:230px;

}
.fourTypeExample-wrapper h2{
  font-size: 17px;

  font-weight: normal;
}
.E{
  width: 30%;
  float: left;
}
.I{
  width: 70%;
  float: right;
}
.S {
  width: 30%;
  float: left;
}
.N {
  width: 70%;
  float: right;
}
.T{
  width: 30%;
  float: left;
}
.F{
  width: 70%;
  float: right;
}
.J{
  width: 30%;
  float: left;
}
.P{
  width: 70%;
  float: left;
}

.fourTypeExample-text{
  width:80%;
  height:180px;
  margin-left: 10%;
  font-size:13px;
  line-height: 30px;
}

.meritToKnow-wrapper{
  width:80%;
  height:640px;
  margin-left: 10%;
}
.meritToKnow-wrapper h2{
  font-size:20px;
  padding-bottom: 10px;
}
.meritToKnow-wrapper p{
  font-size:13px;
  line-height: 30px;
}

.typeSessionContents-wrapper{
  width:80%;
  height:350px;
  margin-left: 10%;
}

.groupSession-wrapper{
  width:80%;
  height:350px;
  margin-left: 10%;
}

.behappy-wrapper{
  width:80%;
  height:400px;
  margin-left: 10%;
}

.toSession-wrapper{
  width:80%;
  height:400px;
  margin-left: 10%;
}





footer {
  padding-top:100px;
  width:100%;
  height:100px;
  margin-top:10px;
  padding-top:00px;
  background-color: rgba(34, 49, 52, 0.9);
}

footer p{
  float:right;
  padding:10px 30px;
  color:white;
  margin:0px;
}
