*{box-sizing:border-box;}
*{list-style: none;}

.container {
  width:100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}
.container h2{
  font-size:20px;
  padding-bottom: 10px;
}
.container p{
  font-size:14px;
  line-height: 33px;
}





/*  ヘッダー*/
header {
  height:80px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position:fixed;
  top:0px;
  z-index:10;
  border-bottom: 1px solid #dcdcdc;
}
.header-left {
  float: left;
  display: inline-block;
  width:30%;
}
.header-left h2{
  line-height: 40px;
  color:#006400;
}
.header-right {
  float: right;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  width:70%;
}
.clearfix{
  padding-left:20%;
}
.header-right li{
  margin-right: 15px;
  float: left;
  font-size: 0.875rem;
  line-height: 30px;
}
.header-right li:hover {
  background-color: rgba(152,251,152, 0.5);
  border-radius: 10px;
}
.header-right a {
  line-height: 50px;
  height:50px;
  padding: 0 30px;
  color:#006400;
  display: block;
  text-decoration: none;
}

/*  ヘッダー文の余白*/
.top-wrapperTowhite{
  height:58px;
}
/*  トップ*/
.top-wrapper{
  width:80%;
  margin-left: 10%;
  height:400px;
  background-image:url(img/topimg.jpg);
  background-size:cover;
}
.top-wrapper h1{
  padding-top: 200px;
  opacity: 0.8;
  color:black;
  font-size: 25px;
}
.top-wrapper h2{
  font-size:15px;
  color:black;
  opacity: 0.8
}

/*  ４つのボタン*/
.btnToLink-wrapper{
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding-left:10%;
  padding-right:10%;
  text-align: center;
}
.btnToLink {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  width: 100%;
  htight:80px;
}
.btnfix{
  padding-left:;
}
.btnToLink li{
  width:20%;
  margin-right: 15px;
  padding-bottom: 38px;
  float: left;
  font-size: 0.875rem;
  line-height: 30px;
}
.btnToLink li:hover {
  background-color: rgba(152,251,152, 0.5);
  border-radius: 10px;
}
.btnToLink a {
  line-height: 50px;
  height:10px;
  padding: 0 30px;
  color:#006400;
  display: block;
  text-decoration: none;
}

/*  前書き　interest*/
.interest-wrapper{
  height:500px;
  text-align: center;
  padding-top: 100px;
  font-weight: normal;
}
.interest-text{
  padding-top:50px;
}
.interest-text p{
  font-size: 17px;
}
.interest-text h2{
  font-size: 25px;
}
.interest-text{
  float:right;
  width:60%;
}
.topimg1{
  float:left;
  width:40%;
}






/*  【「当たり前」の違いを科学する】*/
.fourType-wrapper{
  width:80%;
  height:300px;
  margin-left: 10%;
}
.fourType-text{
  float: left;
  width: 59%;
}

.fourType-pic{
  float: right;
  width:41%;
}

/*  【4文字タイプとは何か？】*/
.fourTypeDescription-wrapper{
  width:80%;
  height:570px;
  margin-left: 10%;

}





/*  【タイプ違いによるトラブルの例】*/
.meritToKnow-wrapper{
  width:80%;
  height:700px;
  margin-left: 10%;
}
.meritToKnow-wrapper h2{
  font-size:20px;
  padding-bottom: 10px;
}
.meritToKnow-wrapper p{
  font-size:13px;
  line-height: 30px;
}
.fourType-text3{
  float: left;
  width:59%;
}
.fourType-pic3{
  float: right;
  width:41%;
}
.fourType-pic3 img{
  margin-top:80px;
  padding-top:20px;
  border: 1px solid gray;
}





/*  【4文字タイプを知るメリット】*/
.typeSessionContents-wrapper{
  width:80%;
  height:450px;
  margin-left: 10%;

}
.fourType-text4{
  float: left;
  width:59%;
}
.fourType-pic4{
  float: right;
  width:41%;
  padding-left: 80px;
}
.fourType-pic4 img{
  margin-top:80px;
  padding-top:0px;
  border: 1px solid gray;
}







/*  【4文字タイプセッションの内容・雰囲気】*/
.groupSession-wrapper{
  width:80%;
  height:350px;
  margin-left: 10%;
}


/*  グループセッションで本当の自分を見つける】*/
.behappy-wrapper{
  width:80%;
  height:550px;
  margin-left: 10%;
}


/*  【タイプを知って人生が輝く】*/
.toSession-wrapper{
  width:80%;
  height:700px;
  margin-left: 10%;
  text-align: center;
}
.fourType-pic7{
  margin-top:50px;
}





footer {
  padding-top:100px;
  width:100%;
  height:100px;
  margin-top:10px;
  padding-top:00px;
  background-color: rgba(34, 49, 52, 0.9);
}

footer p{
  float:right;
  padding:10px 30px;
  color:white;
  margin:0px;
}







/*  */
/*  お問い合わせページ*/
/*  */
.top-form-wrapper{
  width:100%;
  height:200px;
  background-color: #32cd32;
}
.top-form-wrapper h1{
  color: white;
  line-height: 200px;
  font-size: 40px;
  font-weight: normal;
  margin:13px;
}
/*  メールフォーム*/
.col1{
  padding-top:100px;
  text-align: left;
  height:970px;
  width:50%;
  margin: auto;
}
.col h2 {
  font-size: 40px;
  color:gray;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 0px;
  margin:0 30% 45px 30%;
}
.required{
  text-align: right;
  color:red;
  font-size: 15px;
}
.form{
  border-radius: 10px;
}
th{
  font-weight: normal;
  color:gray;
}
input, textarea,select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
.tac{
  text-align: center;
  border-radius: 10px;
}
.submit{
  background-color: #32cd32;
  color:white;
  width:500px;
  padding: 15px;
  border-style: none;
  transition: all 0.5s;
  cursor : pointer;
}
.submit:hover{
  background-color: rgba(50,205,50,0.6)
}


/*  */
/*  利用規約*/
/*  */
/*  説明*/
.termsOfService-wrapper{
  padding-top:100px;
  margin:0px 10%;
  color:rgba(0, 0, 0, 0.9);
  height:1500px;
}
.container2 p{
  line-height: 25px;
  font-size: 16px;

}







/*  フォントをメイリオにする*/
body{
font-family:'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
}
